.masterdata {
  .search_input {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }

  .clear_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }

  .create_btn {
    min-width: 191px;
    height: 41px;
    border: 1px;
    background-color: #0d6938;
    .text {
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #ffffff;
    }
  }

  .form_title {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .form {
    margin-top: 50px;
    .label {
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 21.6px;
      letter-spacing: 0.01em;
      text-align: left;
      color: #060606;
    }
    .input {
      border-radius: 10px;
      height: 39px;
      border: 1px solid #67b108;
      color: #060606;
    }
    .button {
      width: 187px;
      height: 40 px;
      border-radius: 8px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
      .btn_text {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 17.1px;
        letter-spacing: 0.15000000596046448px;
        text-align: center;
      }
    }
  }
  .increase_button {
    width: 187px;
    height: 40 px;
    border-radius: 8px;
    background-color: #b28b00;
    color: #ffffff;
    @media screen and (max-width: 600px) {
      width: 100%;
      .btn_text {
        font-family: "Lato", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 17.1px;
        letter-spacing: 0.15000000596046448px;
        text-align: center;
      }
    }
  }
  .increase_input {
    border-radius: 10px;
    height: 39px;
    border: 1px solid #67b108;
    color: #060606;
  }
  .table_topic {
    font-family: Urbanist;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
  }
  .table_header {
    background-color: black;
    .text {
      color: white;
      padding: 7px;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 700;
    }
  }
  .table-data {
    .text {
      padding: 4px;
      font-family: "Lato", sans-serif;
      font-size: 12px;
      font-weight: 500;
      color: #060606;
      text-align: center;
    }
  }

  .search_input {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_date {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
  .selection {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .clear_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
}
