.payment_management {
  .search_input {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_date {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .payment_create_button {
    min-width: 158px;
    border-radius: 4px;
    border: 1px;
    height: 39px;
    background-color: #0d6938;
    .text {
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
    }
  }
  .search_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }

  .clear_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
   .exfort_button {
    width: 100%;
    border-radius: 55px;
    background-color: #7a8e49;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
  .shop_select_button {
    width: 227px;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .create_form {
    font-family: Urbanist;
    font-size: 19.72px;
    font-weight: 600;
    line-height: 19.72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    .heading {
      font-family: Urbanist;
      font-size: 19.72px;
      font-weight: 600;
      line-height: 19.72px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #444745;
    }
    .create_date {
      width: 100%;
      height: 39px;
      border-radius: 6px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border: 1px solid #67b108;
    }
    .select_order {
      width: 100%;
      height: 39px;
      border-radius: 6px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border: 1px solid #67b108;
    }
    .order_input {
      width: 100%;
      height: 39px;
      border-radius: 6px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border: 1px solid #67b108;
    }
    .add_order_button {
      width: 171px;
      height: 39px;
      border: 1px;
      background-color: #0d6938;
      .text {
        font-family: Urbanist;
        font-size: 17.53px;
        font-weight: 500;
        line-height: 28.49px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
      }
    }
    .submit_button {
      width: 171px;
      height: 39px;
      border: 1px;
      background-color: #b28b00;
      border-radius: 4px;
      .text {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
      }
    }
  }
}
