.report_managemnt {
  .search_input {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_date {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
  .selection {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .clear_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
}
