.return_management {
  .search_input {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .search_date {
    width: 100%;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
  }
  .return_create_button {
    min-width: 158px;
    border-radius: 4px;
    border: 1px;
    height: 39px;
    background-color: #0d6938;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    .text {
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: white;
    }
  }
  .search_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }

  .clear_button {
    width: 100%;
    border-radius: 55px;
    background-color: #67b108;
    border: 0.2px solid #ffffff;
    border-radius: 8px;
    .text {
      font-family: "Lato", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 15.96px;
      text-align: right;
      color: white;
    }
  }
  .shop_select_button {
    width: 227px;
    height: 39px;
    border-radius: 6px;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 1px solid #67b108;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .create_form {
    font-family: Urbanist;
    font-size: 19.72px;
    font-weight: 600;
    line-height: 19.72px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    .heading {
      font-family: Urbanist;
      font-size: 24px;
      font-weight: 600;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #000000;
    }
    .create_date {
      width: 100%;
      height: 39px;
      border-radius: 6px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border: 1px solid #67b108;
    }
    .select_order {
      width: 100%;
      height: 39px;
      border-radius: 6px;
      font-family: Urbanist;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      border: 1px solid #67b108;
    }
    .product_card {
      padding: 22px;
      min-height: 70px;
      border-radius: 4px;
      opacity: 0px;
      background-color: #f8f8f8;
      .product_input {
        width: 100%;
        height: 39px;
        border-radius: 6px;
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        border: 1px solid #67b108;
      }
    }

    .add_product_button {
      width: 171px;
      height: 39px;
      border: 1px;
      background-color: #0d6938;
      .text {
        font-family: Urbanist;
        font-size: 17.53px;
        font-weight: 500;
        line-height: 28.49px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #ffffff;
      }
    }
    .submit_button {
      width: 171px;
      height: 39px;
      border: 1px;
      background-color: #b28b00;
      border-radius: 4px;
      .text {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
      }
    }
  }
  .return_summary {
    .heading {
      font-family: Urbanist;
      font-size: 32px;
      font-weight: 700;
      line-height: 41.6px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #444444;
    }
    .right_heading {
      font-family: Urbanist;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #444444;
    }
    .table-content {
      .table-header {
        font-family: Urbanist;
        font-size: 19.72px;
        font-weight: 600;
        line-height: 19.72px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #02401f;
      }
      .hrclass {
        width: 100%;
        height: 3px;
        gap: 0px;
        opacity: 0px;
        background-color: #000000;
      }
      .thclass {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 700;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #5b5b5b;
      }
      .tdclass {
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #474747;
      }
    }
  }
}
