// Write your overrides
// mobile & tabs   only media query
.mobile_header {
  @media (min-width: 480px) {
    display: none;
  }
  @media (max-width: 768px) {
    display: block;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    display: block;
  }
}
// web only media query
.web_header {
  @media screen and (max-width: 600px) {
    display: none;
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    display: none;
  }
  @media screen and (min-width: 1366px) {
    display: block;
  }
}

.modal_radius {
  border-radius: 15px;
}
.date_picker {
  width: 360px;

  @media screen and (max-width: 600px) {
    margin-right: 205px;
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    width: 150px;
    margin-right: 100px;
  }
}
.delete {
  .delete_img {
    width: 100px;
    height: 100px;
  }
  .title {
    font-family: "Lato", sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
  }

  .cancel_button {
    background-color: rgb(255, 255, 255);
    border: 0.2px solid #000000;
    width: 100%;
    .text {
      color: rgb(0, 0, 0);
      font-family: "Lato", sans-serif;
    }
  }
  .del_button {
    background-color: red;
    width: 100%;
    .text {
      color: white;
      font-family: "Lato", sans-serif;
    }
  }
}
.add_new {
}
.table_row_width {
  width: 150px;
}
.table_row_width_2 {
  width: 250px;
}

.form_heading {
  font-size: 25px;
  color: rgb(44, 186, 44);
  font-weight: 600;
}
.td_width {
  width: 150px;
}
.back_button {
  width: 54px;
  height: 28px;
  opacity: 0px;
  border-radius: 17px;
  background-color: #ffffff;
  .text {
    font-family: "Lato", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    letter-spacing: 0.01em;
    color: #060606;
  }
}
.label {
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #060606;
}
.common_input {
  width: 100%;
  height: 39px;
  border-radius: 6px;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid #67b108;
}
.table_borders {
  border: 1px solid black;
  border-collapse: collapse;
}
.exfort_button {
  width: 100%;
  border-radius: 55px;
  background-color: #7a8e49;
  border: 0.2px solid #ffffff;
  border-radius: 8px;
  .text {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15.96px;
    text-align: right;
    color: white;
  }
}
